.header {
    background: grey;
}
 .title {
        background: orangered;
    }

.log {
        background: yellow;
    }

.aside {
    background: darkolivegreen;
}

.questionnaire {
    background: antiquewhite;
}

.footer {
    background: greenyellow;
}