.header {
    background: grey;
}
 .title {
        background: orangered;
    }

.log {
        background: yellow;
}

.logOutForm {
    display: none;
}


.aside {
    background: darkolivegreen;
}

.questionnaire {
    background: antiquewhite;
}

.footer {
    background: greenyellow;
}

