<div role="tabpanel" id="quiz{{this}}" class="quiz tab-pane fade {{quizActiveIfFirstQuiz this}}">
    <div class="questionnaire col-sm-8 col-md-8">
        <div class="QA">
            <div class="question">
            </div>
            <form class="questionsForm form-horizontal">
                <div class="choices form-group">
                    <ul class="choicesList text-center">
                    </ul>
                </div>
                <div class="buttons text-center form-group">
                    <button type="button" class="backBtn btn btn-default">Back</button>
                    <button type="submit" class="nextBtn btn btn-default">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>
